/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.chart-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container h3 {
    margin-bottom: 0px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    margin-inline-start: 5px;
}

.apexcharts-tooltip-series-group {
    max-height: 20px;
}

.apexcharts-legend-series {
    max-height: 10px;
}

.hidden {
    display: none;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #ccc;
    border-top: 5px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}